# CMake specific
[Bb]uild/

# VS Code specific
.vscode
.vs

# Mac OS specific
.DS_Store

.cache/
.ccls-cache/
.idea
.kdev4/

.venv/
compile_commands.json*
dsdlc_generated/
sch/sch/
sch/txt/
stm/.mxproject
example/battery_node